# Dependencies
node_modules/

# Biến môi trường chứa thông tin nhạy cảm
.env
.env.*
!.env.example

# Log & file rác
logs/
*.log
npm-debug.log*
.DS_Store
.vscode/
.idea/
coverage/
dist/

# Đề bài
*.pdf
